$whiteA: #aaa;
$whiteD: #ddd;
$whiteE: #eee;
$gray1: #111;
$gray2: #222;
$gray3: #333;

$color1: #4ca0ff;
$color2: #1468c5;
$color3: #163e7a;
$color4: #ffdb4c;
$color5: #fbba00;
$color6: #ff5543;


$breakpointBig: 2000px;
$breakpointMedium: 1470px;
$breakpointSmall: 1100px;
$breakpointMobile: 810px;


$ease-in: cubic-bezier(0.75, 0, 1, 1);
$ease-out: cubic-bezier(0, 0, 0.25, 1);


$time1: 0.15s;
$time2: 0.3s;


$gap: 300px;
$gapMobile: 80px;
