@import "_variables.scss";

.cover {
	width: 100%;
	position: relative;
	
	&__bg {
		width: 100%;
		height: 100vh;
		min-height: 500px;
		
		position: fixed;
		position: relative;
		z-index: 10;
		top: 0;

		// background:
		// 	radial-gradient(
		// 		circle,
		// 		color-mod(black a(0%)) 0%,
		// 		color-mod(black a(30%)) 60%
		// 	) center / 250% no-repeat,
		// 	url('img/header.png') 0 0 / 100% no-repeat,
		// 	#163e7a;
		background:
			url('img/footer.png') 0 100% / 100% no-repeat,
			#163e7a;
		
		@media (max-width: $breakpointMobile) {
			background-size: 300%;
		}
	}
	
	&__cover {
		width: 100%;
		height: 100%;
		
		object-fit: cover;
		
		@media (max-width: $breakpointMobile) {
			object-position: right center;
		}
	}
	
	&__logo-container {
		margin: auto;
		
		position: absolute;
		top: 16%;
		left: 0;
		right: 0;
		
		@media (max-width: $breakpointMobile) {
			top: 30%;
		}
	}
	
	&__logo {
		width: 135vh;
		min-width: 200px;
		min-width: 200px;
		margin: 0 auto 3vh;
		padding-left: 10vh;
		
		display: block;
		
		// filter: drop-shadow(0 0 1vw color-mod(black a(50%)));
		
		transition: all 3s ease-out;
		
		opacity: 0;
		transform: scale3d(0.8, 0.8, 1);
		
		@media (max-width: $breakpointMobile) {
			width: 95vw;
			padding-left: 2vw;
		}
	}
	
	&__arrow-down-a {
		width: 5%;
		
		position: absolute;
		bottom: 10%;
		left: 47.5%;
		
		filter: drop-shadow(0 0 1vw $color4);
		
		transition: opacity 3s 2s;
		
		opacity: 0;
		
		@media (max-width: $breakpointMobile) {
			width: 12%;
			left: 44%;
		}
	}
	
	&__arrow-down {
		width: 100%;
		height: @width;
		
		display: block;
		
		fill: $color4;
		
		@media (max-width: $breakpointMobile) {
			width: 12vw;
			height: @width;
		}
	}

	&__authors {
		padding: 60px;
		position: relative;
		z-index: 11;

		background:
			radial-gradient(
				circle at 50% 0%,
				#333 10%,
				#111 50%
			) center / 400% no-repeat;
		// background: linear-gradient(45deg, #647a16 0%,#70086e 100%);
		// background: linear-gradient(45deg, #ffdb4c 20%,#ff5543 80%);
		box-shadow: 0 0 120px color-mod(black a(60%));

		text-align: center;
		text-shadow: 0 0 8px color-mod(black a(30%));
			
		@media (max-width: $breakpointMobile) {
			padding: 50px 25px 25px;
		}

		a {
			text-decoration: none;
		}

		h1 {
			margin: 3px 0 0;
			padding: 2px 0 0;
			background: transparent;
			box-shadow: none;
			
			@media (max-width: $breakpointMobile) {
				margin: 4px 0 0;
			}
		}

		h2 {
			margin: 0;
			
			@media (max-width: $breakpointMobile) {
				margin: -2px;
			}
		}

		h3 {
			max-width: 620px;
			margin: 50px auto;
			
			color: white;
			font-size: 34px;
			line-height: 42px;
			text-align: left;
		}
	}
}
