@import "_variables.scss";

.table-of-contents {
	width: 310px;
	height: 0;
	margin: 0 0 0 40px;

	position: fixed;
	top: 0;
	z-index: 9;

	font-family: Bebas Neue, sans-serif;
	font-size: 28px;

	opacity: 0;
	transition: $time1 ease-out;
	
	@media (max-width: $breakpointMobile) {
		width: 100%;
		height: 0;
		margin: 0;
		padding: 0 25px;
	
		position: fixed;
		overflow: hidden;
		z-index: 12;

		box-shadow: 0 0 40px color-mod(black a(0.8));
		opacity: 1;
		background:
			radial-gradient(
				ellipse farthest-corner at 50% 0,
				$color2 10%,
				$color3 80%
			) 50% 0% / 600% no-repeat;
	}
	
	@media (min-width: $breakpointMedium) {
		left: calc(50% - 670px);
	}

	&--in {
		opacity: 1;
	}
	
	&--open {
		height: 660px;
	}
	
	&__menu {
		margin: 0;
		padding: 0;
		
		a {
			display: block;
			color: white;
			text-decoration: none;

			&:hover {
				text-shadow: 0 0 10px white;
			}
		}
		
		ul {
			padding: 3px 0 4px 14px;
			
			li {
				padding-bottom: 6px;
				font-family: Source Sans Pro, sans-serif;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
	
	&__entry {
		margin: 0;
		padding: 0;
		list-style-type: none;
		line-height: 32px;
	}
	
	&__line {
		width: 5px;
		height: 4px;

		position: absolute;
		top: 0;
		left: -15px;
		
		background: $color6;
		opacity: 1;
		
		transition: 0.4s $ease-out;
		
		@media (max-width: $breakpointMobile) {
			display: none;
		}
		
		&::before {
			content: "";
			
			width: 15px;
			height: 160%;
			
			position: absolute;
			top: -30%;
			
			background:
				radial-gradient(
					ellipse farthest-corner at 0% 50%,
					$color6 0%,
					transparent 60%
				) center 0 / 100% no-repeat;
		}
	}

	&__logo {
		width: 300px;
		height: 130px;
		margin: 35px 0 30px;
		filter: drop-shadow(0 0 1vw color-mod(black a(20%)));
		
		@media (max-width: $breakpointMobile) {
			width: 270px;
			height: 115px;
		}
	}
	
	&__three-bars {
		width: 40px;
		height: @width;
		margin: 18px;
		
		z-index: 15;
		position: fixed;
		top: 0;
		right: 0;
		
		user-select: none;
		
		@media (min-width: $breakpointMobile) {
			display: none;
		}
		
		&:active {
			filter: drop-shadow(0 0 10px $color4);
		}
	}
	
	&__three-bars-close-surface {
		width: 100%;
		height: @width;
		
		z-index: 9;
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		
		&--in {
			display: block;
		}
	}
}
